.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #333;
	transition: top 0.3s ease-in-out;
	z-index: 1000;
}

.hidden-header {
	top: -100px;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
}

.company-name .title {
	display: flex;
	align-items: center;
}

.logo-image {
	width: auto; /* Maintain aspect ratio */
	height: 70px; /* Adjust this value based on your needs */
}

.nav-container .nav-links a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-size: 1rem;
	transition: color 0.3s;
}

.nav-links a:hover {
	color: #ff5722;
}

.menu-toggle {
	display: none;
	background: transparent;
	border: none;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	z-index: 1001;
	position: relative;
}

@media (max-width: 768px) {
	.nav-container .menu-toggle {
		display: block;
		margin-left: auto;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		width: 80%;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		transition: transform 0.3s ease-in-out;
		transform: translateX(100%);
		z-index: 1000;
		justify-content: center;
		align-items: center;
	}

	.nav-links.open {
		transform: translateX(0);
	}

	.nav-links a {
		margin: 15px 0;
		padding: 15px;
		text-align: center;
		color: white;
		font-size: 1.5rem;
		transition: background-color 0.3s, color 0.3s;
	}

	.nav-links a:hover {
		background-color: #ff5722;
		color: white;
	}
}
