.home-start {
	margin: 0;
	font-family: Arial, sans-serif;
	background: url("/images/audi.jpg") no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #fff;
	text-align: center; /* Center text by default */
}

.container {
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
	width: 100%; /* Take full width to accommodate content */
	max-width: 90%; /* Allow some margin on mobile screens */
}

.box {
	max-width: 700px;
	margin: auto;
}

h2 {
	font-size: 1.5rem; /* Adjust font size for smaller screens */
	margin-bottom: 0.5rem;
}

h1 {
	font-size: 2rem; /* Adjust font size for smaller screens */
	margin-bottom: 1.5rem;
}

.highlight {
	color: #ff6600;
}

.box-desc {
	font-size: 1.2rem; /* Increased font size */
	line-height: 2; /* Increased line height for better readability */
	margin-bottom: 1.5rem;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	word-spacing: 0.1rem;
}

.appointmentbtn {
	padding: 20px 20px;
	font-size: 1rem;
	color: white;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin-top: 10px;
}

.appointmentbtn:hover {
	background-color: white;
	color: #ff6600;
}

/* Media Queries */
@media (max-width: 768px) {
	.container {
		padding: 20px;
	}

	h2 {
		font-size: 1.5rem;
	}

	h1 {
		font-size: 2rem;
	}

	.box-desc {
		font-size: 1rem;
	}
}

@media (max-width: 480px) {
	h2 {
		font-size: 1.2rem;
	}

	h1 {
		font-size: 1.5rem;
	}

	.box-desc {
		font-size: 0.9rem;
	}

	.appointmentbtn {
		padding: 8px 16px;
		font-size: 0.9rem;
	}
}
